
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color:hwb(190 18% 79%);
}

.hero {
    background-color: #1c1d25;
    height: 70vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: black;
    text-align: center;
    padding-top: 40px;
    
}

    
.socials {
    padding-bottom: 200px;
   position:fixed;
   right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}
a:hover {
    color:#ef744b;
}
ul {
    display: flex;
    list-style-type: none;
    
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
    margin-right: 20px;
    
}
.contact-item-last {
    margin-right: 65px;
}

h1 {
    font-size: 90px;
    margin: 0;
    color: white;
}

h2 {
    font-size: 50px;
    color: white;
}
h3 {
    color: white;
    font-size: 30px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}
.button-two {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: 40px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}
.social {
    margin: 20px;
}
.social-items {
    margin-right: 65px;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.headshot {
    width: 400px;
    border-radius: 150px;
    
}

.headshot-container {
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 100px;

}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}
.social-container {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 40px;
        margin-top: 100px;
    }
    h2 {
        font-size: 24px;
        margin-left: 20px;
    }
    h3 {
        margin-left: 20px;
        font-size: 20px;
    }
    h4 {
        font-size: 12px;
    }
    .sub-section {
        padding: 40px;
    }
    .information {
        display: block;
     
    }
    .btn-wrapper {
        display: flex;
    }
    .button {
        width: 180px;
        height: 40px;
       
    }
    .button-two {
        width: 160px;
        margin-left: 10px;
    }
    .sub-section-alternative {
        padding: 0;
    }
    .headshot-container {
        display: none;
    }
    .project-card {
        height: 400px;
    }
   
    .contact-list-last {
        display: flex;
        width: 400px;
        margin: 0 auto;
    }
    .contact-item-last {
        
        margin-right: 30px;
    }
   footer {
    padding-top: 40px;
    padding-bottom: 0;
    background-color:#2b2c38;
   }
   .social-container {
    display: none;
   }
   .socials {
    right: 20px;
    top: 80px;
   }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}
.contact-list {
    margin-left: 350px;
}
.contact-item {
    padding-left: 40px;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: black;
       font-size: 24px;
        background-color: #2b2c38;
        width: 200px;
    }
    

    ul.show {
        display: block;
        margin-top: 0;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}
